textarea {
    min-height: 400px;
}

.email {
    border: 2px solid gray;
    border-radius: 5px;
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 2px 2px 3px #333;
    margin-top: 5px;
    margin-bottom: 5px;
}

.timestamp {
    position: static;
    margin-left: 10px;
    top: 5px;
  }
    
.sender {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 10px;
}

.subject {
    color: gray;
    margin-left: 10px;
}

.email-read {
    background-color: gainsboro;
}

.email-unread {
    background-color: white;
}

.email-heading {
    font-weight: bold;
}

#email-subject {
    font-size: 1.5em;
    font-weight: bold;
}

#displayemail-view {
    position: relative;
}

#email-timestamp {
    position: absolute;
    top: 0px;
    right:  20px;
}

/* Breakpoint@500px to handle element positioning */
@media (min-width: 500px) {
    .email {
        position: relative;
        padding-left: 5px;
        min-width: 470px;

  }

    .timestamp {
        position: absolute;
        top: 5px;
        right: 20px;
  }

    .sender {
        font-size: 1.25em;
    }
}

/* Fixes email box sizing issue at this particular breakpoint */
@media (min-width: 376px) and (max-width: 499px) {
    .email {
        max-width: 500px;
    }

    #email-timestamp {
        position: static;
    }
}

@media (min-width: 329px) and (max-width: 410px) {
    h2 {
        font-size: 1.6rem;
    }

    .sender {
        font-size: 1.4rem;
    }

    .email {
        min-width: 290px;
    }
}

/* Special sizing for really small devices */
@media (min-width: 200px) and (max-width: 328px) {
    h2 {
        font-size: 1.1rem;
    }

    .email {
        min-width: 225px;
    }

    .sender {
        font-size: 0.9rem;
    }

    #email-timestamp {
        position: static;
    }
}